.container {
	width: 1000px;
	margin:  0 auto;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 40px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
